@import url(./components/button.css);
@import url(./components/card.css);
@import url(./global.css);
@import url(./components/profile.css);

:root {
  --spacing: 20px;

  --white: #fdfdfd;
  --main--color: #2b2d42;
  --second-color: #e4eeff;
  --third-color: #8d99ae;
  --highlight-color: #d90429;
  --highlight-color-variation: #ef233c;
}
