/* Button Style*/
button {
  background-color: var(--highlight-color);
  color: var(--white);
  border: none;
  padding: 10px;
  margin: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 500ms ease-in-out;
}

button:hover {
  background-color: var(--highlight-color-variation);
  transition: 500ms ease-in-out;
  /*Boxshadow is copied from here https://getcssscan.com/css-box-shadow-examples*/
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
